<div class="row">
        <div class="col-md-6">
          <img
            [src]="movie.coverImagePath"
            alt="{{ movie.title }}"
            class="img-responsive">
        </div>
        <div class="col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ movie.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ movie.description }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          Ingredients
        </div>
      </div>
      </div>
      